<!--Author : Darshan Shanthveer Patil-->
{% extends 'base.html' %}

{% block title%}{% endblock %}


{% block body %} 


<!--Navbar start-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Trackit</a>
      <!-- <img src="#" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/register">Sign Up</a>
            </li>
        </ul>

      </div>
    </div>
  </nav>
<!--Navbar end-->

<div class="container card-group text-dark">
    <div class="card text-dark text-center" style="width: 5rem;">
        <div class="card-body">
          <h5 class="card-title text-center" style="width: 100%;">Get User Data</h5>
          <form action="/results", method=post>
            <div class="input-group">
            <input class="form-control mr-sm-2" style="width: 10%;" id = "url" name = "url" type="text" placeholder="Enter the URL" aria-label="URL">
            <input class="form-control mr-sm-2" style="width: 10%;" id = "price_limit" name = "price_limit" type="text" placeholder="Enter the Price to track" aria-label="price_limit">
            <input class="form-control mr-sm-2" style="width: 10%;" id = "date1" name = "date1" type="text" placeholder="Date1" aria-label="Date1">
            <input class="form-control mr-sm-2" style="width: 10%;" id = "date2" name = "date2" type="text" placeholder="Date2" aria-label="Date2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
  
{% endblock %}